@model TranVanDuc_2122110512.Context.Banner

@{
    ViewBag.Title = "Details";
}

<div class="content-wrapper">
    <div>
        <h4>Banner</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BannerTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BannerTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BannerImage)
            </dt>

            <dd>
                <img src="~/Content/images/banners/@Html.DisplayFor(model => model.BannerImage)" alt="Banner Image" style="width:150px" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BannerLink)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BannerLink)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.BannerId }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>
